<!-- js taken from http://theopensourcery.com/jsdomexpander.htm -->

<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script type="text/javascript" src="../static/jquery-1.6.3.min.js"></script> 
</head>

<body>
    {% for event_year in list_events %}
        <ul class="year">{{event_year.keys.0}}
            {% for month, events in event_year.values.0.items %}
                <!--show only months with events! -->
                {% if events %} 
                    <li class="month">
                        <span class="month-name">{{events.0.date|date:"F"}}</span>
                        <span class="event-counter"> ({{events|length}})</span>
                        <ul class="events">
                        {% for event in events %}
                            <li class="event">
                            <a class="title" href="/events/{{event.name}}">{{event.name}}</a>
                            <div class="date">{{event.date|date:"j M Y"}}</div>
                            <div class="place">{{event.place}}</div> 
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>

<script>
    // expand the current month
</script>
