<!-- js taken from http://theopensourcery.com/jsdomexpander.htm -->

<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script type="text/javascript" src="../static/jquery.min.js"></script> 
</head>

<body>
    {% for event_year in list_events %}
        <ul class="year">{{event_year.keys.0}}
            {% for month, events in event_year.values.0.items %}
                <!--show only months with events! -->
                {% if events %} 
                    <li id="{{event_year.keys.0}}-{{month}}" class="month">
                        <div class="month-data">
                            <span class="name">{{events.0.date|date:"F"}}</span>
                            <span class="counter"> ({{events|length}})</span>
                        </div>
                        <ul class="events" style="display:none;">
                        {% for event in events %}
                            <li class="event">
                            <a class="title" href="#">{{event.name}}</a>
                            <div class="date">{{event.date|date:"j M Y"}}</div>
                            <div class="place">{{event.place}}</div> 
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>

<script>
    // expand the current month
    $("#{{now.year}}-{{now.month}} ul.events").show();
    // toggle events on click
    $('.month-data').click(function() {
        $(this).next().slideToggle('slow');
    }); 
</script>
